.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 80px 20px;
}

.list {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 30px;
}

.title {
    color: var(--mainColor);
    font-size: 26px;
    letter-spacing: 1.3px;
}

.card {
    width: 300px;
    border-radius: 12px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}

.card:hover,
.card:focus {
    box-shadow: 2px 2px 10px #515270;
}

.img {
    border-radius: 12px;
}

.cardText {
    font-size: 16px;
    padding: 16px;
    text-align: center;
}

.cardName {
    font-size: 18px;
    font-weight: 700;
}
/* ----------------------------------------------- */
.button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid var(--mainColor);
    border-radius: 5px;
    height: 44px;
    width: 300px;
    background-color: var(--mainColor);
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: var(--greyColor);
    border: none;
}

.button_text {
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: var(--whiteColor);
    border-left: 1px solid var(--whiteColor);
    padding: 10px;
    transition: 0.3s ease;
}

.button:hover .button_text {
    color: var(--mainColor);
    border-color: var(--mainColor);
}

.logo {
    height: 28px;
    --logo-color: var(--whiteColor);
    transition: 0.3s ease;
}

.button:hover .logo {
    --logo-color: var(--mainColor);
}
