.footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: var(--mainColor);
}

.footer_wrapper {
    display: flex;
    align-items: center;
}

.wrapper_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
}

.logoFooter {
    --logo-color: var(--whiteColor);
    width: 100px;
    height: 100px;
}

.name {
    font-family: 'Montserrat', sans-serif;
    color: var(--whiteColor);
    font-size: 28px;
}

.social {
    display: flex;
    margin-right: auto;
}

.social_item:not(:last-child) {
    margin-right: 40px;
}

.link_instagram,
.link_facebook,
.link_email {
    height: 42px;
    transition: 0.3s ease;
}

.link_instagram:hover,
.link_instagram:focus,
.link_facebook:hover,
.link_facebook:focus,
.link_email:hover,
.link_email:focus {
    transform: scale(1.2);
}

.about {
    display: flex;
    flex-direction: column;
    margin-right: 60px;
}

.about_text {
    font-size: 16px;
    color: var(--whiteColor);
    letter-spacing: 1.3px;
    transition: color 0.3s ease;
}

.about_nav {
    composes: about_text;
    font-size: 12px;
}

.about_nav:hover,
.about_nav:focus {
    color: #c1c1c0;
    padding-bottom: 5px;
    border-bottom: 2px solid #c1c1c0;
}

.about_item:not(:last-child) {
    margin-bottom: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper_item:not(:last-child) {
    margin-bottom: 5px;
}

.wrapper_contacts {
    display: flex;
    align-items: center;

    color: var(--whiteColor);
    font-size: 16px;
    letter-spacing: 1.3px;
    transition: color 0.3s ease;
}

.wrapper_text {
    margin-left: 10px;
}

.wrapper_text:hover,
.wrapper_text:focus {
    color: #c1c1c0;
}
